<div class="country-container">
    <h1>
        Countries
    </h1>

    <!-- <div class="search-bar-container">  -->
    <input type="text" name="search bar" [disabled]="!(countryListData?.length)" [(ngModel)]="searchTerm" class="search-bar-container" placeholder="Search countries" />
    <!-- </div> -->
    <ul>
        <li *ngFor="let countryObj of filteredCountries">
            <app-country-list-items [country]="countryObj"></app-country-list-items>
        </li>
        <mat-spinner *ngIf="showSpinner"></mat-spinner>
        <div *ngIf="!(countryListData?.length) && !showSpinner">No data available</div>
        <div *ngIf="!(filteredCountries?.length) && (countryListData?.length) && !showSpinner">No Search result found</div>
    </ul>

</div>