.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.info {
    float: left;
    margin-right: 2px;
}


/* .info img {
    width: 300px;
    height: 250px;
} */

.container img.selected-country {
    width: 320px;
    height: 170px;
}

.country-info {
    width: 600px;
    height: auto;
    border: 1px solid #d6d6d6;
    padding: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 35px;
    font-weight: 400;
    text-align: center
}

ul {
    list-style-type: none;
}

ul li {
    float: left;
    border: 1px solid #d9d9d9;
    padding: 5px;
    margin: 5px 5px 20px 5px;
    width: 200px;
    height: 100px;
    text-align: center;
}

.country-det {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-top: 40px;
}

.country-det span {
    margin-bottom: 2px;
    margin-left: 10px;
}


/* .country-det span:last-child {
    margin-left: 10px;
} */

.neighbour {
    display: inline-block;
    border: 1px solid #d6d6d6;
    padding: 15px;
    margin: 10px;
}

.neighbour-country img {
    width: 200px;
    height: 100px;
}

.neighbour-country span {
    color: blue;
    font-size: 14px;
}

div.ag-cell {
    width: 50px;
    height: 30px;
}

.ag-grid-container {
    display: flex;
    justify-content: center;
}

.ag-grid-angular {
    width: 100%;
    height: 50%;
    overflow: scroll;
}